.arrival{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 3rem auto;
overflow: hidden;

&__title{
padding: 1rem 2rem;
font-size: 2.3rem;
font-weight: 700;
color: var(--color-prime);
animation: typewriter 4s steps(44) normal, blink 0.5s infinite;
         white-space: nowrap;
    overflow: hidden;
}
@keyframes typewriter   {
    from{
     width: 0;
    }
    to {
     width: 80rem;
    }
 }
  @keyframes blink {
     from {
         border-right-color: hsl(0, 0%, 80%);
     }
     to {
         border-right-color: transparent;
     }
  }
}