.hero {
    margin-top: 2rem;
       max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
        
           &__heading{
        font-size: 3rem;
        color: var(--color-prime);
        font-weight: 600;
        animation: left 1s ease-in forwards;
      text-transform: uppercase;
      padding: 2rem;
      margin: 2rem;
     transition: all 1s ease-in;
  
           }
           &__text{
        font-size: 1.3rem;
        color: var(--color-secondary);
        font-weight: 700;
        margin: 1rem;
        padding: 1rem 2rem;
        text-transform: capitalize;
           }
           &__btn{
        border: none;
        padding: 1rem 2rem; 
        width: 50%;
        margin: 1rem;
        border-radius: 1rem;
        background-color: var(--color-prime);
        transition: 0.5s ease-in-out;
        &:hover{
            background-color:#FFD9C0 ;
            transform: translateX(-2px) scale(1.2);
        }
    }
    &__image{
        max-width: 100%;
         display: block;
         height: auto;
             }      
    }   

    @keyframes left {
        0%{
            opacity: 0;
            transform: translatex(-1rem);
        }
        70%{
            transform: translateX(10rem);
        }
        100%{
            opacity: 1;
            transform: translatex(0);
        }
    }

@media screen  and (max-width: 40em){
.hero{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .9rem .1rem;
}

}